/* valine 评论 */

/* 去除了dark模式下头像border和padding */
[data-theme='dark'] .v[data-class=v] .vcards .vcard .vimg {
    padding: 0;
    border: none;
}

[data-theme='dark'] #post .v[data-class=v] .vcontent img {
    display: inline-block;
}

.v[data-class=v] .emoji,
.v[data-class=v] .vemoji {
    vertical-align: text-bottom;
}

.v[data-class=v] .vwrap .vemojis {
    max-height: 260px !important;
}

.v[data-class=v] .vwrap .vemojis i[title|=menhera] {
    width: 22% !important;
    margin: 5px 10px;
}

.v[data-class=v] .vwrap .vemojis img[alt|=menhera] {
    max-width: 100% !important;
}

.v[data-class=v] .vcontent .emoji[alt|=menhera],
.v[data-class=v] .vcontent .vemoji[alt|=menhera] {
    max-width: 300px !important;
    /* vertical-align: middle; */
    margin: 8px 1px;
    display: block !important;
}

@media screen and (max-width: 1200px) {
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        margin: 5px 8px;
    }
}

@media screen and (max-width: 768px) {
    .v[data-class=v] .vcontent .emoji[alt|=menhera],
    .v[data-class=v] .vcontent .vemoji[alt|=menhera] {
        max-width: calc(100% - 30px) !important;
    }
}

@media screen and (max-width: 576px) {
    .v[data-class=v] .vwrap .vemojis {
        max-height: 200px !important;
    }
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        margin: 5px 5px;
    }
}

@media screen and (max-width: 400px) {
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        width: 21% !important;
    }
}